<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174911387738-1n11fme33ngpq4rc0cfifrv19qi1t1vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174911387738-1n11fme33ngpq4rc0cfifrv19qi1t1vt</string>
	<key>API_KEY</key>
	<string>AIzaSyBSv-GRA8yZZiyiDTgjoaOW8K4iBueWwnU</string>
	<key>GCM_SENDER_ID</key>
	<string>174911387738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.kcs1959.flutterChats</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-27334</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-27334.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174911387738:ios:a578b33ca4c010efd54063</string>
</dict>
</plist>